<html>
	<head>
		<title>Manager</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="/static/manager.css">
		<script src="/static/jquery.js"></script>
		<script src="/static/manager.js"></script>
	</head>
	<body>
		<div class="content">
			<div class="overview">
				<h2>Class Manager</h2>
				<p>Use the form below to manage the different classes at IA (e.g. the class of 2015).</p>
			</div>
			<div id="forms" class="forms">
				<% grades.each do |grade| %>
					<div class="grade<%= grade.id %>">
						<p id="x" data-grade="<%= grade.id %>">x</p>
						<p id="year"><p><b>Year:</b> <%= grade.year %></p>
						<p id="name"><b>Name:</b> <%= grade.name %></p>
						<p id="color"><b>Color:</b> <%= grade.colorhex %></p>
						<p id="theme"><b>Theme:</b> <%= grade.theme %></p>
						<hr/>
					</div>
				<% end %>
				<form action="" method="post" id="form1">
					<p id="x">x</p>
					<input type="text" placeholder="Class year" name="year"/>
					<select name="name">
						<option name="freshmen">Freshmen</option>
						<option name="sophomores">Sophomores</option>
						<option name="juniors">Juniors</option>
						<option name="seniors">Seniors</option>
					</select>
					<input type="text" placeholder="Class color" name="color"/> <!-- replace with color picker -->
					<input type="text" placeholder="Class theme" name="theme"/>
					<hr/>
				</form>
			</div>
			<div class="add">
				<a id="addform" class="pure-button">Add another class...</a>
			</div>
			<div class="save">
				<a id="save" class="pure-button pure-button-primary">Save changes</a>
			</div>
		</div>
	</body>
</html>