<html>
	<head>
		<title>Manager</title>
		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
		<link rel="stylesheet" href="/static/manager.css">
		<script src="/static/jquery.js"></script>
		<script src="/static/manager.js"></script>
	</head>
	<body>
		<div class="content">
			<div class="overview">
				<h2>Class Manager</h2>
				<p>Use the form below to manage the different classes at IA (e.g. the class of 2015).</p>
			</div>
			<div id="forms" class="forms">
				<div class="grade" id="freshmen">
					<p><b>Freshmen</b></p>
					<p id="year"><b>Year:</b> <%= freshman_grade.year %></p>
					<p id="color"><b>Color:</b> <%= freshman_grade.colorhex %></p>
					<p id="theme"><b>Theme:</b> <%= freshman_grade.theme %></p>
					<hr/>
				</div>
				<div class="grade" id="sophomore">
					<p><b>Sophomores</b></p>
					<p id="year"><b>Year:</b> <%= sophomore_grade.year %></p>
					<p id="color"><b>Color:</b> <%= sophomore_grade.colorhex %></p>
					<p id="theme"><b>Theme:</b> <%= sophomore_grade.theme %></p>
				</div>
				<div class="grade" id="junior">
					<p><b>Juniors</b></p>
					<p id="year"><b>Year:</b> <%= junior_grade.year %></p>
					<p id="color"><b>Color:</b> <%= junior_grade.colorhex %></p>
					<p id="theme"><b>Theme:</b> <%= junior_grade.theme %></p>
				</div>
				<div class="grade" id="senior">
					<p><b>Seniors</b></p>
					<p id="year"><b>Year:</b> <%= senior_grade.year %></p>
					<p id="color"><b>Color:</b> <%= senior_grade.colorhex %></p>
					<p id="theme"><b>Theme:</b> <%= senior_grade.theme %></p>
				</div>
			</div>
			<div class="save">
				<a id="save" class="pure-button pure-button-primary">Save changes</a>
			</div>
		</div>
	</body>
</html>